.menu {
    border-bottom: 1px solid #727272;
    padding: 15px 30px;
    font-size: 20px;
    .navigation {
        display: flex;
        justify-content: space-between;
        .nav-list {
            display: flex;
            list-style: none;
            .nav-item {
                margin: 5px 10px;
                a {
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}