<div class="restaurant">
    <div class="restaurant-container" *ngIf="loadingDone">
        <p class="go-back" (click)="backClicked()">< Go back</p>

        <ng-container *ngIf="!isError">
            <div class="header">
                <p class="name">
                    <span class="name-text">{{basicInfo?.name}}</span>
                    <span class="rating">Rating: {{basicInfo?.rating?.aggregate_rating}}</span>
                </p>
                <p class="cuisine">{{basicInfo?.cuisine_string}}</p>
            </div>
            <div class="menu">
                <ng-container *ngIf="menuItems?.length > 0">
                    <p class="menu-title">Order Menu</p>
                    <ul>
                        <li class="menu-heading">
                            <span class="item-name">Name</span>
                            <span class="item-price">Price (Rs.)</span>
                        </li>
                        <li *ngFor="let item of menuItems">
                            <span class="item-name">{{item?.item?.name}}</span>
                            <span class="item-price">{{item?.item?.price}}</span>
                        </li>
                    </ul>
                </ng-container>
                <ng-container *ngIf="!menuItems || menuItems?.length < 1">
                    <p class="no-menu-title">This restaurant does not have online order menu</p>
                </ng-container>
            </div>
        </ng-container>
        <cors-error *ngIf="isError"></cors-error>
    </div>
    <div class="loading" *ngIf="!loadingDone">
        <p>Loading . . .</p>
    </div>
</div>