.restaurant-card {
    margin: 10px 15px 20px 15px;
    width: 350px;
    height: 370px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 16px;
    cursor: pointer;
    padding: 10px;
    .restaurant-image {
        text-align: center;
        img {
            border-radius: 16px;
            width: 328px;
            height: 248px;
        }
    }
    .restaurant-data {
        margin-top: 10px;
        .name {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 10px;
            .res-rating {
                float: right;
            }
        }
        .cuisines {
            margin-bottom: 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}